body {
	background-color: #d3731c;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.box {
	float: left;
	margin-bottom: 10px;
}

.box div {
	margin: 5px;
}

.box3 {
	width: 30%;
	float: left;
	padding: 0px 10px 0px 10px;
	background-color: #EEEEEE;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.container {
	width: 940px;
}

.paper {
	background-color: #EEEEEE;
	padding: 1px 10px 1px 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.paper hr {
	margin-top: -10px;
}

.nav img {
	width: 150px;
	margin-bottom: -45px;
}

.navbar {
	text-align: right;
}

.navbar ul li {
	display: inline;
}

.navbar li a {
	text-transform: capitalize;
	font-family: Arial, sans-serif;
	padding: 5px;
}

.navbar a {
	text-decoration: none;
	color: #000000;
}

.navbar a:hover {
	color: #EEEEEE;
}

.active a {
	color: #EEEEEE;
}

.menu {
	margin-bottom: -10px;
}

.footer {
	text-align: center;
	clear: left;
}

.footer a {
	text-decoration: none;
	color: #000000;
}

.footer a:hover {
	color: #EEEEEE;
}

#slideshow { 
    margin-bottom: 10px;
    position: relative; 
    width: 925px; 
    height: 250px; 
    padding: 7px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    background-color: #EEEEEE;
}

#slideshow img {
	max-width: 920px;
	max-height: 250px;
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}