body {
	background-image: url('../img/background.png');
}

.container {
	margin-top: 25px;
	background-color: #EEEEEE;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.hero-unit {
	padding: 40px;
}

#slideshow { 
    margin-bottom: 10px;
    position: relative; 
    width: 925px; 
    height: 350px; 
    padding: 7px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    background-color: #EEEEEE;
    border-radius: 2px;
}

#slideshow img {
	max-width: 920px;
	max-height: 350px;
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}